<!DOCTYPE html>
<html lang="{{lang}}">
    {{> fragments/header}}
    <body>
        {{> fragments/nav }}
        <div class="container-fluid">
            <div class="container xd-container">
                <h2>{{#i18n}}welcome{{/i18n}}</h2>
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="/resources/images/pets.png"/>
                    </div>
                </div>
                {{> fragments/footer }}
            </div>
        </div>
    </body>
</html>