<!DOCTYPE html>
<html lang="{{lang}}">
{{> fragments/header}}
<body>
{{> fragments/nav }}
<div class="container-fluid">
    <div class="container xd-container">
        <img src="resources/images/pets.png" />
        <h2>Not found</h2>
        <p>The page you are looking for doesn't exists</p>
        {{> fragments/footer }}
    </div>
</div>
</body>
</html>